<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="seek" connectionString="server=695dffeb-8020-4aef-a5fa-a67a004b8cc3.mysql.sequelizer.com;database=db695dffeb80204aefa5faa67a004b8cc3;uid=sijqlyuehyieawlh;pwd=nS5faJNd5LpU7gioheuDzo8jkTvYxrG3YuRdixniNrSWRbkjWgc6E6Z7SU4pnXNL" />
  </connectionStrings>
</configuration>